<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70671668195-qj2mkdbm2br4lqp2kchj78k92hf0op3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70671668195-qj2mkdbm2br4lqp2kchj78k92hf0op3k</string>
	<key>API_KEY</key>
	<string>AIzaSyC3IyjJwoHlBgvRd4J408hbBTM9J2hO3Ec</string>
	<key>GCM_SENDER_ID</key>
	<string>70671668195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivanmanso.BeConnected-v1</string>
	<key>PROJECT_ID</key>
	<string>beconnectedswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>beconnectedswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70671668195:ios:dd20df0ca1914ff1e686d6</string>
</dict>
</plist>